body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;/*/////////////*/
    background-color: rgba(0, 0, 0, 0.450);
}
a{
    text-decoration: none;
}
header li{
    display: inline;
    list-style: none;
    color: white;
}
.uphed{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #707485;
    height: 65px;
    width: 1220px;
    align-items: center;
}
.uphed li{
    font-size: 10px;
}
.Contacts li{
    margin-right: 125px;
}
.Socials a{
    margin-right: 22px;
}
.Login{
    font-family: 'Montserrat';
}
.Login li{
    margin-left: 33px;
}

.downhed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    width: 1220px;
}
.hicon{
    color: #ffdd00;
}
.nav{
    color: white;
    padding-bottom: 27px;
    margin-left: 50px;
    font-family: 'Montserrat';
    font-size: 12px;
}
.nav:hover{
    border-bottom: 3px solid #ffdd00;
}
/*///////////////////////////////////////*/
.Content{
    display: flex;
    flex-direction: column;
}

.find_hotels{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Img/YellovFon.png);

}
.find_hotels p{
    margin-top: 80px;
    font-size: 24px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}












.MainBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.mbaner{
    margin-top: 345px;
    text-align: center;
}
.mbaner p{
    margin: 0;
    margin-bottom: 25px;
}
.Start_Your_Greatest_Adventure_with_us_ {
    font-size: 55px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 0.963;
    text-align: center;
  }
  .Lorem1{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.yel_but{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 215px;
    height: 55px;
    background-color: #ffdd00;
    border-radius: 5px;
}
  /*****************************/
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 150px;
    background-color: #ffdd00;
  }