body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;/*/////////////*/
    background-color: rgba(0, 0, 0, 0.450);
    z-index: 300;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header li{
    display: inline;
    list-style: none;
    color: white;
}
.uphed{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #707485;
    height: 65px;
    width: 1220px;
    align-items: center;
}
.uphed li{
    font-size: 10px;
}
.Contacts li{
    margin-right: 125px;
}
.Socials a{
    margin-right: 22px;
}
.Login{
    font-family: 'Montserrat';
}
.Login li{
    margin-left: 33px;
}

.downhed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    width: 1220px;
}
.hicon{
    color: #ffdd00;
}
.nav{
    color: white;
    padding-bottom: 27px;
    margin-left: 50px;
    font-family: 'Montserrat';
    font-size: 12px;
}
.nav:hover{
    border-bottom: 3px solid #ffdd00;
}
/*///////////////////////////////////////*/
.Content{
    display: flex;
    flex-direction: column;
}

.MainBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./Img/ocean.png);
    background-size: cover;
}
.MainBanner a{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 175px;
}
.MainBanner a:hover{
    cursor: pointer;
}
.mbaner{
    margin-top: 345px;
    text-align: center;
}
.mbaner p{
    margin: 0;
    margin-bottom: 25px;
}
.Start_Your_Greatest_Adventure_with_us_ {
    font-size: 55px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 0.963;
    text-align: center;
  }
  .Start_Your_Greatest_Adventure_with_us_1 {
    font-size: 47px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 0.963;
    text-align: center;
  }
  .Lorem1{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.yel_but{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 215px;
    height: 55px;
    background-color: #ffdd00;
    border-radius: 5px;
}

.find_hotels{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Img/YellovFon.png);

}
.find_hotels p{
    margin-top: 80px;
    font-size: 24px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.fhinput{
    display: grid;
    grid-template-columns: 240px 240px 240px 130px 130px 240px;
    grid-gap: 17px;
    margin-bottom: 82px;
}
.teXt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}
.inPUT input{
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 20px;
    height: 40px;
    width: 200px;
}
.xxz input{
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 20px;
    height: 38px;
    width: 100px;
}
.clickherebotom{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4d4d4d; 
    background-color: #4d4d4d;
    color: white;
    border-radius: 4px;
    height: 40px;
    width: 200px;
    margin-top: 37px;
    font-family: Arial, Helvetica, sans-serif;
}
.clickherebotom:hover{
    cursor: pointer;
}

.info_block{
    display: grid;
    grid-template-areas: 'train first_text'
                        'Zagolovok Zagolovok'
                        'second_text third_text';
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 175px 1fr ;
}
.info{
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.train{
    grid-area: train;
    background: url(./Img/Train.png);
    background-size: cover;
    padding-top: 613px;
}
.first_text{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: first_text;
}
.first_text div{
    margin-left: 60px;
    margin-right: 60px;
}
.mini_list li{
    list-style: none;
    margin-top: 40px;
}
.mini_list i{
    margin-right: 15px;
    color: #00a4ff;
}
.zag{
    font-family: Arial, Helvetica, sans-serif;
}
.zag_1{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 26px;
    font-weight: 800;
}
.zag_2{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 26px;
    font-weight: 200;
}


.Zagolovok{
    grid-area: Zagolovok;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Zagolovok h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    margin-top: 28px;
}
.Zagolovok h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: initial;
    margin: 0;
    margin-top: 30px;
}

.second_text{
    grid-area: second_text;
    display: flex;
    align-items: center;
    justify-content: center;
}
.punkt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.TeXt{
    font-family: Arial, Helvetica, sans-serif;
}
.imagee{
    margin-left: 20px;
    margin-right: 70px;
}
.imagee i{
    color: #00a4ff;
    font-size: 60px;
    margin-top: 20px;
}
.zAg{
    font-size: 20px;
}
.third_text{
    grid-area: third_text;
    display: flex;
    align-items: center;
    justify-content: center;
}
  /*****************************/
.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(./Img/TownFon.png);
    background-position: bottom, top;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

}
.bluline{
    height: 250px;
}
.gfh{
    text-align: center;
}
.gfh p{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.box{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 36px;
}
.block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}
.bl2{
    position: relative;
    width: 412px;
    background-color: #f0d839;
    text-align: center;
    font-size: 30px;
    text-align: center;
}
.bl2 p{
    margin: 12px;
}
.bl3{
    padding: 25px;
}
.bl3 li{
    margin: 17px;
}
.bl3 i{
    color: #00a4ff;
}
.bl1{
    text-align: center;
    padding: 25px;
}
.bl1 p{
    font-size: 20px;
    font-weight: 800;
}
.bl1 i{
    font-size: 77px;
    color: #373737;
}
  /*******************************************/
.Trvel{
    padding-top: 90px;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 'fotmen' 'infotext';
}
.fotmen{
    grid-area: 'fotmen';
    display: flex;
    justify-content: space-around;
    min-width: 450px;
}
.fotmen img{
    width: 400px;
    height: 500px;
    border-radius: 15px;
}
.infotext{
    grid-area: 'infotext';
    font-family: Arial, Helvetica, sans-serif;
}
.zagg{
    font-size: 26px;
    margin: 0;
    margin-bottom: 20px;

}
.zaggH{
    font-weight: 600;
}
.FCH{
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 96px;
    border: rgb(0, 164, 255) solid 2px;
    max-width: 699px;
}
.minik1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 233px;
    text-align: center;
    padding: inherit;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 164, 255);
    z-index: 1;
}
.minik1::after{
    content: ''; 
    position: absolute;
    right: -75px;
    top: -1px;
    border: 50px solid transparent;
    border-left: 25px solid rgb(0, 164, 255);
    z-index: 1;
}
.minik2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 233px;
    text-align: center;
    padding: inherit;
    color: #373737;
    font-size: 20px;
    background-color: #e4e4e4;
    z-index: 0;
}
.minik2::after{
    content: ''; 
    position: absolute;
    right: -75px;
    top: -1px;
    border: 50px solid transparent;
    border-left: 25px solid #e4e4e4;
    z-index: 0;
}
.minik3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 233px;
    text-align: center;
    padding: inherit;
    font-size: 20px;
    color: #373737;
    background-color: rgb(255, 255, 255);
}
.minik1 i{
    font-size: 51px;
    margin-right: 30px;
}
.minik2 i{
    font-size: 51px;
    margin-right: 30px;
}
.minik3 i{
    font-size: 51px;
    margin-right: 30px;
}
.Abz{
    max-width: 699px;
    margin-bottom: 65px;
}
.knopka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 56px;
    background-color: #eed638;
    border-radius: 5px;
}
.knopka:hover{
    cursor: pointer;
}
  /********************************************/
.PakandGo{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: url(./Img/RockFon.png);
    background-size: cover;
  }
.PakandGo h2{
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
}
.Zhir{
    font-weight: 900;
}
.contt{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.cArd{
    width: 400px;
    height: 530px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.xy img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 100%S;
}
.xz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.xz h2{
    margin: 5px;
}
.xz p{
    margin: 5px;
    max-width: 240px;
}
.w1{
    position: relative;
    right: 10px;
}
.w2{
    position: relative;
    left: 10px;
}
.w4{
    position: relative;
    top: -20px;
    width: 420px;
    height: 570px;
    z-index: 2;
}
.w4::after{
    z-index: 2;
    content: ''; 
    position: absolute; 
    bottom: -287px; 
    border: 210px solid transparent; 
    border-top: 80px solid white;
}
.span1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 45px;
    background-color: #f1d939;
}


  /********************************************/
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 150px;
    background-color: #ffdd00;
  }